body, section {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  counter-reset: level1;
}
section {
  padding-top: 30px;
}
section:nth-child(even) {
  background-color: dimgrey;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  z-index: 1;
}
.main-nav {
  padding: 0 30px;
}
.main-nav__link {
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.4em;
  word-spacing: 0.2em;
  text-decoration: none;

  padding: 10px 0 10px .4em;
  margin: 5px;
  color: black;
  transition: color .5s;
}
.main-nav:hover > .main-nav__link {
  color:rgba(0, 0, 0, 0.3);
}
.main-nav:hover > .main-nav__link:hover {
  color: black;
}
/* underline animation test */
.sliding-underline {
  position: relative;
}
.sliding-underline:before,
.sliding-underline:after {
  content: '';
  position: absolute;
  bottom: 7px;
  height: 1.3px;
  width: 0;
}
.sliding-underline:before {
  left: 0;
  transition: width 0s ease, background .5s ease;
}
.sliding-underline:after,
.sliding-underline:hover:before {
  right: 0;
  background: black;
  transition: width .5s ease;
}
.sliding-underline:hover:before,
.sliding-underline:hover:after {
  width: 100%;
}
.sliding-underline:hover:after {
  background: transparent;
  transition: all 0s ease;
}

/* active menu item */
.sliding-underline--active:after {
  width: 100%;
  background: transparent;
}
.sliding-underline--active:before,
.main-nav:hover > .sliding-underline--active:hover:before,
.main-nav:hover > .sliding-underline--active:hover:after {
  width: 100%;
  background: black;
  transition: all .5s;
}
.main-nav:hover > .sliding-underline--active:before,
.main-nav:hover > .sliding-underline--active:after {
  background:rgba(0, 0, 0, 0.2);
}
header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(53, 53, 53);
}
/* Code Header colors */
.javascript {
  font-size: 2em;
  font-family: "Lucida Console", Monaco, monospace;
  color: rgb(194, 87, 105);
  line-height: 1.3em;
  border-left: 2px solid dimgray;
  padding-left: 0;
  list-style-type: none;
}
.javascript > li:before {
  content: counter(level1);
  counter-increment: level1;
  position: relative;
  left: -40px;
  color: dimgrey;
}
.symbol {
  color: rgb(131, 131, 131);
}
.global {
  color: rgb(0, 190, 190);
}
.declaration {
  color: rgb(109, 192, 31)
}
.text {
  color: #f7c252;
  text-decoration: none;
  transition: all 1s ease;
}
.javascript:hover .text {
  font-size: 1.5em;
  line-height: 1.5em;
}
.icon {
  height: 60px;
}
/* scrolling test */
/* a[ href='#bio' ]:target ~ #bio {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

a[ href='#my-work' ]:target ~ #main article.panel {
  -webkit-transform: translateY( -500px );
  transform: translateY( -500px );
}
a[ href="#social" ]:target ~ #main article.panel {
  -webkit-transform: translateY( -1000px );
  transform: translateY( -1000px );
} */